* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
 html {
	overflow-x :hidden;
}
body {
	font-family: Onest;
	display: flex;
	flex-direction: column;
}
main {
	position: relative;
}
.background-img{
	position: absolute;
	z-index:-1;
	right: -7.4rem;
    top: -40px;
}
.container1 {
	text-align: center;
	display:flex;
	flex-direction: column;
    align-items: center;
	margin-top: 6rem;
}
.logo {
	 width: 5.8rem;
    height: 5.8rem;
	margin-bottom:3rem;
}
.buttons1 {
	display:flex;
	margin-bottom:16rem;
}
.p1 {
	margin-top:0.7rem;
	margin-bottom:2rem;
	color: hsl(201, 11%, 66%);
	 line-height: 1.6;
	 animation: fade-up 1s;
}
@keyframes fade-up {
from {
opacity: 0;
transform: translate3d(0, 20px, 0);
}
to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
}
.wicked.fade-up {
animation-name: fade-up;
animation-duration: 1s;
animation-fill-mode: both;
}
.h12 {
	color:  hsl(210, 10%, 33%);
	font-weight:600;
	animation: fade-up 0.6s;
}
.but2 {
	text-decoration: none;
	color: white;
	background-color:  hsl(171, 66%, 44%);
		padding-bottom: 0.7rem;
	padding-top:0.7rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	border-radius:2rem;
}
.but1{
	text-decoration: none;
	color: white;
	background-color:  hsl(233, 100%, 69%);
	padding-bottom: 0.7rem;
	padding-top:0.7rem;
	border-radius:2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-left: 1rem;
}
.layout {
	margin-top: 5rem;
	position:relative;
	display: grid;
	    grid-template-columns: 50rem 50rem;
    grid-template-rows: 1fr 1fr 1fr;
	margin-bottom:9rem;
	justify-content: center;
}
.aka {
	position: relative;
	grid-row-start: 1;
   grid-row-end: 4;
}
.nn {
	margin-left:6rem;
}
.huh {
	text-align: center;
}
.p2 {
		margin-top:0.7rem;
	margin-bottom:2rem;
	color: hsl(201, 11%, 66%);
	 line-height: 1.6;
}
.h33 {
	color:  hsl(210, 10%, 33%);
	font-weight:600;
	font-size: 28px;
}
.RR {
	font-size:22px;
	color:  hsl(210, 10%, 33%);
	font-weight:600;
}
.box1 {
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	margin-bottom:6rem;
}
.mood {
	text-align:center;
}
.mouse {
	display:grid;
	grid-template-columns: 21rem 21rem 21rem;
	grid-gap: 2rem;
	margin-left:4rem;
	margin-right:4rem;
	margin-bottom:4rem;
	margin-top:4rem;
	justify-content: center;
}
.finels {
	display:grid;
	grid-template-columns: 10rem 10rem 10rem 10rem 10rem;
	margin-bottom:12rem;
	grid-gap: 5rem;
	justify-content: center;
	justify-items: center;
}
.doro {
	display:grid;
	background-color: hsla(201, 11%, 66%, 30%);
	grid-template-columns: 8rem 8rem 8rem 8rem 8rem 8rem;
    grid-template-rows: 8rem 8rem;
	justify-items: center;
	padding-top: 4rem;
}
.cmn>a {
	text-decoration:none;
	color: hsl(201, 11%, 66%);

}
.cmn {
	border-right: 1px solid hsl(201, 11%, 66%);
	padding: 1rem;
}